/*TRANSITIONS*/
.transition-2s
{
	-ms-transition: all 2s;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	transition: all 2s;
}

.transition-1s
{
	-ms-transition: all 1s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.transition-0-5s
{
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

/*Z-INDEX*/

.z-one { z-index: 1;} 
.z-two { z-index: 2;}
.z-three { z-index: 3;}
.z-four { z-index: 4;}
.z-five { z-index: 5;}

/*BORDER BOX*/

.border-box
{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

/*GLOBAL AND MENU*/

body
{
	position: absolute;
	margin: 0%;
	width: 100%;
	height: 100%;
	min-width: 100%;
	min-height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#main
{
	position: absolute;
	width: 100%;
	height: 100%;
}

.frame
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#frame-000
{
	background-image: url(../pics/title-bg.png);
	background-size: 100% 100%;
}

.menu-button
{
	background-size: 100% 100%;
	width: 24%;
	height: 12%;
	left: 40%;
	position: absolute;
	z-index: 1;
}

.menu-button:hover
{
	width: 30%;
	height: 15%;
}

#burning-button
{
	background-image:  url(../pics/burning.png);
	top: 20%;
}

#facts-button
{
	background-image:  url(../pics/facts.png);
	top: 35%;
}

#research-button
{
	background-image:  url(../pics/research.png);
	top: 50%;
}

/*FRAME 101*/

#frame-101, #frame-108
{
	background-image: url(../pics/frame-101-bg.jpg);
	background-size: auto 100%;
}

#boys-talking
{
	background-image: url(../pics/frame-101-boys.png);
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	position: absolute;
}
#boys-talking-2
{
	background-image: url(../pics/frame-101-boys.png);
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#frame-101 #firework
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/frame-101-bg.gif);
	background-size: 100% 100%;
}

.boys-eyes-animated
{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0%;
	top: 0%;
	background-image: url(../pics/boys-eyes.gif);
	background-size: 100% 100%;
	z-index: 4;
}

#left-boy-mouth
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/boy-left-mouth.gif);
	background-size: 100% 100%;
}

#right-boy-mouth
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/boy-right-mouth.gif);
	background-size: 100% 100%;
}


/*FRAME 102*/
#frame-102
{
	background-image: url(../pics/frame-102-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

/*FRAME 102 A*/
#frame-102-a
{
	background-image: url(../pics/frame-102-a-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

/*FRAME 103*/
#frame-103
{
	background-image: url(../pics/frame-103-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

#frame-103 .elem
{
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
}

#frame-103 .ar { background-image: url(../pics/frame-103_Ar.png); }
#frame-103 .co2 { background-image: url(../pics/frame-103_CO2.png); }
#frame-103 .h2o { background-image: url(../pics/frame-103_H2O.png); }
#frame-103 .o2 { background-image: url(../pics/frame-103_O2.png); }
#frame-103 .n2 { background-image: url(../pics/frame-103_N2.png); }

/*FRAME 103 A*/
/*#frame-103-a
{
	background-image: url(../pics/sulphur-plus-oxygen-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}*/

#frame-103-a .start-button
{
	width: 10%;
	height: 20%;
	border-radius: 50%;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	font-size: 2vmin;
	padding-top: 3%;
	background-color: #5DAFE2;
	color: white;
	position: absolute;
	left: 20%;
	top: 20%;
	border: 1vmin solid white;
}

#frame-103-a .start-button:hover
{
	background-color: #E5636C;
}

#reaction-animated
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/sulphur-plus-oxygen.jpg);
	background-size: auto 100%;
}

/*FRAME 104*/
#frame-104
{
}

#frame-104 .field
{
	display: block;
	position: absolute;
	border-radius: 3vmin;
	width: 14.5%;
	height: 10%;
	font-family: Verdana;
	color: #4F4F4F;
	font-size: 35%;
	text-align: center;
	left: 29.5%;
	background-color: transparent;
}

#air-field { top: 45.5%;}
#gas-field { top: 61.5%;}
#oxygen-field { top: 77%;}

#burner, #injector-animated, #everything-else
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#burner 
{
	background-image: url(../pics/burner.gif);
	background-size: 100% 100%;
}

#burner-start
{
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../pics/burner-start.png);
	background-size: auto 100%;
}

#injector-animated
{
	background-image: url(../pics/injector-animated.png);
	background-size: auto 100%;
}

#everything-else
{
	background-image: url(../pics/frame-104-bg.png);
	background-size: 100% 100%;
}

#burner-trigger
{
	width: 8%;
	height: 16%;
	position: absolute;
	text-align: center;
	font-family: verdana;
	font-size: 2.5vmin;
	padding-top: 3.5%;
	font-weight: bold;
	left: 80%;
	top: 70%;
	background-color: #4C710F;
	color: white;
	border-radius: 50%;
}

#burner-trigger:hover
{
	background-color: #B1C82D;
}

#check-button
{
	width: 20%;
	height: 10%;
	position: absolute;
	left: 73%;
	top: 50%;
	font-family: verdana;
	font-size: 2.5vmin;
	font-weight: bold;
	text-align: center;
	background-color: #2AA1D0;
	border-radius: 5vmin;
	color: white;
	z-index: 10;
	padding: 2%;
}

#check-button:hover
{
	background-color: #8CC5DC;
	color: black;
}

/*FRAME 105*/
#candle-burning-animated, #candle-go-out-animated, #glass-and-box, #lid-close-animated, #cobalt-change-animated
{
	width: 100%;
	height: 100%;
	position: absolute;
}

#candle-burning-animated { background-size: 100% 100%; background-image: url(../pics/candle-burning-animated.gif); }
#candle-go-out-animated { background-size: auto 100%; background-image: url(../pics/candle-go-out-animated.png); }
#glass-and-box {  background-size: 100% 100%; background-image: url(../pics/glass-and-box.png); }
#lid-close-animated { background-size: auto 100%; background-image: url(../pics/lid-close-animated.png); }
#cobalt-change-animated { background-size: 800% 100%; z-index: 5; background-image: url(../pics/cobalt-change-animated.png); }

#explore-button
{
	width: 11%;
	height: 22%;
	position: absolute;
	top: 38%;
	left: 45%;
	background-color: #FF4A35;
	color: white;
	font-size: 2.5vmin;
	font-weight: bold;
	text-align: center;
	padding-top: 5%;
	font-family: verdana;
	border-radius: 50%;
}

#explore-button:hover
{
	background-color: #FCA322;
}

/*FRAME 106*/
#frame-106
{
	background-image: url(../pics/frame-106-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

#frame-106 .basket
{
	display: block;
	position: absolute;
	height: 13%;
	border: 0.5vmin solid #BDA482;
	font-family: Verdana;
	color: #4F4F4F;
	font-size: 30%;
	text-align: center;
	padding-top: 1%;
}

#frame-106 .ball
{
	display: block;
	position: absolute;
	height: auto%;
	font-family: Verdana;
	color: #4F4F4F;
	font-size: 30%;
	text-align: center;
	width: 15%;
	padding: 1%;
	cursor: pointer;
}

#h2-basket-1 { left: 34.5%; top: 46.5%; width: 21.6%; }
#h2-basket-2 { left: 55.7%; top: 46.5%; width: 24%; }

#co2-basket-1 { left: 34.5%; top: 58.7%; width: 21.6%; }
#co2-basket-2 { left: 55.7%; top: 58.7%; width: 24%; }

#h2o-basket-1 { left: 34.5%; top: 70.7%; width: 21.6%; }
#h2o-basket-2 { left: 55.7%; top: 70.7%; width: 24%; }

#h2-ball-1 { left: 83%; top: 58.7%; }
#h2-ball-2 { left: 1%; top: 70.7%; }

#co2-ball-1 { left: 83%; top: 70.7%; }
#co2-ball-2 { left: 1%; top: 46.5%; }

#h2o-ball-1 { left: 83%; top: 46.5%; }
#h2o-ball-2 { left: 1%; top: 54%; }

#frame-106 .isDragging
{
	border-radius: 10vmin;
	background-color: #1597CE;
	color: white;
}

/*FRAME 107*/
#frame-107
{
	background-image: url(../pics/frame-107-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

#frame-107 .ball
{
	font-family: verdana;
	font-size: 30%;
	position: absolute;
	display: block;
	padding: 1em;
	z-index: 4;
	cursor: pointer;
	width: 14%;
	min-height: 1.5em;
}

#frame-107 .basket
{
	font-family: verdana;
	font-size: 30%;
	position: absolute;
	text-align: center;
	display: block;
	z-index: 3;
	padding-top: 0.5em;
}

#frame-107 .isDragging
{
	background-color: #E56C07;
	border-radius: 5em;
	opacity: 0.7;
	text-align: center;
}

#frame-107 .left { left: 1%; }
#frame-107 .right { left: 85%; }

.d-3, .d-10 { top: 12%; }
.d-4, .d-9 { top: 25%; }
.d-5, .d-8 { top: 43%; }
.d-1, .d-7 { top: 55%; }
.d-11, .d-6 { top: 70%; }

/* line 144, ../sass/navigation.sass */
#frame-107 .b-1 {
	left: 43%;
    top: 22.2%;
    width: 12%;
    height: 5.3%;
}

/* line 147, ../sass/navigation.sass */
#frame-107 .b-2 {
	left: 40%;
    top: 31.5%;
    width: 14%;
    height: 5%;
}

/* line 150, ../sass/navigation.sass */
#frame-107 .b-3 {
	left: 30.5%;
    top: 40.7%;
    width: 13%;
    height: 5%;
}

/* line 153, ../sass/navigation.sass */
#frame-107 .b-4 {
	left: 49%;
    top: 40.7%;
    width: 12%;
    height: 4.8%;
}

/* line 156, ../sass/navigation.sass */
#frame-107 .b-5 {
	left: 55.5%;
    top: 45.5%;
    width: 12%;
    height: 4.8%;
}

/* line 159, ../sass/navigation.sass */
#frame-107 .b-6 {
	left: 56%;
    top: 50%;
    width: 9%;
    height: 4.5%;
}

/* line 162, ../sass/navigation.sass */
#frame-107 .b-7 {
	left: 67.5%;
    top: 63.7%;
    width: 9%;
    height: 4.8%;
}

/* line 165, ../sass/navigation.sass */
#frame-107 .b-8 {
	left: 31.5%;
    top: 68%;
    width: 7%;
    height: 5%;
}

/* line 168, ../sass/navigation.sass */
#frame-107 .b-9 {
	left: 42%;
    top: 68%;
    width: 10%;
    height: 5%;
}

/* line 171, ../sass/navigation.sass */
#frame-107 .b-10 {
	left: 47.5%;
    top: 72.7%;
    width: 9.5%;
    height: 4.9%;
}

/*FRAME-201*/
#frame-201
{
	background-image: url(../pics/frame-201-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}
/*FRAME-202*/
#frame-202
{
	background-image: url(../pics/frame-202-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}
/*FRAME-203*/
#frame-203
{
	background-image: url(../pics/frame-203-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}
/*FRAME-204*/
#frame-204
{
	background-image: url(../pics/frame-204-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}
/*FRAME-205*/
#frame-205
{
	background-image: url(../pics/frame-205-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

/*FRAME-301*/
#frame-301
{
	background-image: url(../pics/frame-301-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

#frame-301 .research-video-button
{
	position: absolute;
	width: 30%;
	height: 2em;
	font-size: 40%;
	left: 70%;
	top: 60%;
	font-family: Verdana;
	color: white;
}

#frame-301 .research-video-button:hover
{
	text-decoration: underline;
}

/*FRAME-302*/
#frame-302 .video-container
{
	position: absolute;
	width: 100%;
	height: 100%;
}

/*FRAME-206*/
#frame-206
{
	background-image: url(../pics/frame-401-bg.png);
	background-size: auto 100%;
	background-position: 0% 0%;
}

#frame-206 .source
{
	display: block;
	position: absolute;
	cursor: pointer;
	font-size: 40%;
	font-family: Verdana;
	color: black;
	text-decoration: none;
}

#frame-206 .source:hover
{
	font-weight: bold;
	color: green;
}

#frame-206 .source-1 {
  left: 8.15%;
  top: 30%;
  width: 92.9%;
  height: 11.2%;
}

/* line 181, ../sass/navigation.sass */
#frame-206 .source-2 {
  left: 8.15%;
  top: 40%;
  width: 92.9%;
  height: 6.8%;
}

/* line 184, ../sass/navigation.sass */
#frame-206 .source-3 {
  left: 8.15%;
  top: 50%;
  width: 92.9%;
  height: 6.2%;
}

/* line 187, ../sass/navigation.sass */
#frame-206 .source-4 {
  left: 8.15%;
  top: 60%;
  width: 92.9%;
  height: 8%;
}

/*LINK*/
.link
{
	display: block;
	position: absolute;
	color: #3FA0D3;
	z-index: 6;
	cursor: pointer;
}
.link:hover
{
	color: white;
}
.fa-home
{
	left: 95%;
	top: 90%;
}

.fa-fast-forward
{
	left: 90%;
	top: 90%;
}

.fa-fast-backward
{
	left: 85%;
	top: 90%;
}

.fact .fact-link-left
{
	position: absolute;
	font-size: 100%;
	left: 85%;
	top: 2%;
}

.fact .fact-link-center
{
	position: absolute;
	font-size: 80%;
	left: 88.5%;
	top: 3%;
}

.fact .fact-link-right
{
	position: absolute;
	font-size: 100%;
	left: 93%;
	top: 2%;
}